head

    // Hi there 👋 Thanks for checking out our site’s source code! You can check out the full source code over on GitHub at https://github.com/bengroulx/bitchpop. This site was designed and built by Ben Groulx, Designer at House House Design and Operations Manager Bitchpop Productions; If you have any questions, comments, concerns, or whatever, feel free to drop a message to hello@bitchpopproductions.com or reach out to ben directly at ben@house-house.design.

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    meta(name='google-site-verification', content='xxxxx')
    meta(name='description' content='#{description}')
    meta(name='author', content='Ben Groulx & Sean Durfee')
    title #{title}

    style body{opacity:0;}

    noscript#deferred-styles
        link(rel='stylesheet' href='/assets/css/main.css')

    // script(async='', src='assets/js/modernizr.js')

    script.
        var loadDeferredStyles=function(){var a=document.getElementById('deferred-styles'),b=document.createElement('div');b.innerHTML=a.textContent,document.body.appendChild(b),a.parentElement.removeChild(a)},raf=requestAnimationFrame||mozRequestAnimationFrame||webkitRequestAnimationFrame||msRequestAnimationFrame;raf?raf(function(){window.setTimeout(loadDeferredStyles,0)}):window.addEventListener('load',loadDeferredStyles);

    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@WatchBitchpop')
    meta(name='twitter:title', content='#{title}')
    meta(name='twitter:image', content='/assets/img/bg.jpg')
    meta(name='twitter:creator', content='@WatchBitchpop')
    meta(name='twitter:image:alt', content='The two Bitchpop co-creators laughing on a couch while playing with balloons.')
    meta(name='twitter:description', content='#{description}')

    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-title', content='Bitchpop')
    link(rel='apple-touch-icon', sizes='57x57', href='/assets/startup/apple-icon-57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/assets/startup/apple-icon-60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/assets/startup/apple-icon-72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/assets/startup/apple-icon-76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/assets/startup/apple-icon-114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/assets/startup/apple-icon-120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/assets/startup/apple-icon-144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/assets/startup/apple-icon-152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/assets/startup/apple-icon-180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/assets/startup/android-icon-192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/assets/startup/favicon-32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/assets/startup/favicon-96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/assets/startup/favicon-16.png')
