mixin card(card_title, card_subtitle, card_image, card_link)

    article.c-card.c-faux-link.u-context.u-clip.u-gradient.u-bg-cover.u-bg-center.u-gradient.u-align-center.u-stack-basic

        a.c-faux-link__overlay(href='#{card_link}', aria-hidden='true') Find out more about #{card_title}

        div.u-context.u-stack-basic.u-margin-bottom-lg.u-padding-left-md.u-padding-right-md.u-color-light
            h3.u-margin-bottom-md.u-bold
                span.u-padding-bottom-xs.u-squiggle #{card_title}
            p.u-uppercase.u-text-size-small.u-half-transparent.u-tracked-loose #{card_subtitle}

        div.c-card__image.u-position.u-top-0.u-bottom-0.u-left-0.u-right-0.u-stack-under.u-bg-cover.u-bg-center(style='background-image:url("#{card_image}");', role='presentation')
